<div class="form-group">
<%= form_for(@shopping_list) do |f| %>
  <% if @shopping_list.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(@shopping_list.errors.count, "error") %> prohibited this shopping list from being saved:</h2>

      <ul>
      <% @shopping_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control"  %>
    <%= f.label :description %>
    <%= f.text_field :comment, class: "form-control" %>

    <%= f.submit "Create", class: "btn btn-default"%>
<% end %>
</div>
