<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @shopping_list.title %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @shopping_list.comment %>
</p>

<div id="shopping_items_wrapper">
<%= render @shopping_list.shopping_items%>
	<div id="form">
	<%= render "shopping_items/form"%>
	</div>
 </div>

<p>Total price : <%= @shopping_list.total_cost%></p>
<p>Cost by user : <%@shopping_item.cost_by_user.each do |user, cost| %></p>
<tr>
<td>User: <%= user %> Total cost: <%= cost %></td>
</tr></br>
<% end %>
	




<%= link_to 'Edit', edit_shopping_list_path(@shopping_list) %> |
<%= link_to 'Back', shopping_lists_path %>
