<%= form_for([@shopping_list, @shopping_item]) do |f| %>
<% if @shopping_item.errors.any? %>
  <div class="alert alert-danger">
    <h2><%= pluralize(@shopping_item.errors.count, "error") %> prohibited this shopping item from being saved:</h2>
    <ul>
    <% @shopping_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
	<%= f.text_field :content, placeholder: "New Item", class: "form-control" %>
	<%= f.text_field :quantity, placeholder: "Qty", class: "form-control" %>
	<%= f.text_field :price, placeholder: "Price", class: "form-control" %>
	<%#<%= f.text_field :buyer, placeholder: "Buyer" %>
	<%= f.submit "Add", class: "btn btn-default" %>
<% end %>

