
<ul>
  <li>Item : <%= shopping_item.content%></li>
  <li>Quantity : <%=shopping_item.quantity%></li>
  <li>Price : <%=shopping_item.price%></li>
  <li>Buyer : <%=shopping_item.buyer%></li>
</ul>
<p>
<%= link_to "Delete", shopping_list_shopping_item_path(@shopping_list, shopping_item.id), method: :delete, data: { confirm: "Are you sure?" } %>
</p>

